
/* ===========================================================================
   Layout
   =========================================================================== */

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  color: white;
  background: linear-gradient(to bottom,#041727 0%,#062b3f 100%);
  pointer-events: auto;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
}

h2 {
  font-size: 1.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.0em;
  font-weight: 700;
}

main,
header {
  filter: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.columns {
  display: flex;
  justify-content: space-between;
}

main {
  width: 90%;
  margin: 0 auto;
}

/* ===========================================================================
   Buttons & Inputs
   =========================================================================== */

button {
  background-color: rgba(0, 0, 0, 0.2);
  color: #6acad1;
  border: 2px solid #6acad1;
  font-size: 0.9em;
  padding: 0.625em 1.5em;
}

button:hover {
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.disabled *,
input:disabled,
button:disabled {
  opacity: 0.2;
}

input {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: black;
  padding: 0.7em;
}

input:hover,
input:focus,
input:active {
  border-color: #6acad1;
}

input, button {
  outline: none;
}

.input-button {
  display: flex;
}

.input-button > input {
  flex: 1 1 0.7;
}

.input-button > button {
  flex: 1 1 0.3;
}

/* ===========================================================================
   Tables
   =========================================================================== */

table {
  width: 100%;
  margin: 1em 0;
  word-break: break-all;
}

table thead {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 0.8em;
}

table th,
table td {
  padding: 0.5em 0;
}

table td {
  text-align: center;
  font-family: monospace;
  font-size: 0.8em;
}

table tr:hover {
  background-color: rgba(0, 0, 0, 0.2)
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

table a {
  color: inherit;
}

/* ===========================================================================
   Box
   =========================================================================== */

.box {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1em;
  margin-bottom: 1em;
}

.box > h2 {
  display: block;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

/* Daemon
   =========================================================================== */

.box.daemon > div {
  display: flex;
  margin-bottom: 1em;
}

.box.daemon > div:last-child {
  margin-bottom: 0;
}

.box.daemon > div > h3 {
  flex: 0 0 15%;
}

.box.daemon > div > pre,
.box.daemon > div > ul {
  flex: 0 0 85%;
  margin: 0;
}

.box.daemon ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.box.daemon ul li {
  font-size: 0.7em;
  font-family: monospace;
  word-wrap: break-word;
}

#logs {
  margin: 0;
  color: red;
  font-style: italic;
}

#logs.success {
    color: #6acad1;
}

/* Peers
   =========================================================================== */

#peers {
  flex: 0 0 calc(35% - 1em);
}

#peers.waiting > pre {
  display: block;
}

#peers > pre {
  display: none;
  margin-top: 3em;
  text-align: center;
}

#peers > table td {
  text-align: left;
}

/* Files
   =========================================================================== */

#files {
  flex: 0 0 65%;
  min-height: 600px;
}

#file-status {
  font-style: italic;
  color: cyan;
  font-size: 0.8em;
  margin: 1em 0;
}

#files > table > tbody > tr > td {
  text-align: center;
}

#files table th:nth-child(1),
#files table td:nth-child(1) {
  width: 35%;
}

#files table th:nth-child(2),
#files table td:nth-child(2) {
  width: 50%;
}

#files table th:nth-child(3),
#files table td:nth-child(3) {
  width: 15%;
}

#drag-container {
  position: relative;
  display: flex;
  flex: 1 1 auto;
}

.dragover-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}

/* ===========================================================================
   Responsiveness
   =========================================================================== */

@media (max-width: 768px) {
  .columns {
    flex-direction: column-reverse;
  }
}
